@import "./variables.css";
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cairo;
}
.blue{
    color: var(--blueNoO);
}
.not-link{
    color: white;
}
#header {
    position: relative;
    color: black;
    display: flex;
}
#header::after {
    content: "";
    background-image: url("../assets/laptop.jpg");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}
#header-left{
    position: relative;
    padding: 3em 0em 8em 3em;
    flex: 3;
}
#header-left h1 {
    font-size: 5em;
    margin-bottom: 0;
}
#header-left h2{
    margin-bottom: 0;
}
#header-left h3 {
    margin-top: 0;
}
#header-left .img{
    position: absolute;
    right: -7.5em;
    top: 7em;
    z-index: 1;
    border-radius: 50%;
    width: 15em;
    height: 15em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/src/assets/chessPlayer.jpg");
}
#circle-photo{
    position: absolute;
    background-color: green;
}
#header-right{
    background-color: var(--lightblue);
    flex: 2;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.menu{
    flex: 1 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    right: 5%;
    padding: 1em 1em;
    text-align: center;
}
.socials{
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 1em;
    margin-left: 1em;   
}
.contact{
    text-align: center;
    background-color: white;
}
.button{
    display: inline-block;
    margin: 0em 1em 1em 1em;
    padding: 0.5em 2.5em;
    border: thin solid ;
    border-radius: 2.5em;
    color: var(--blueNoO);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.button1{
    background-color: var(--blueNoO);
    border-color: var(--blueNoO);
    color: white;
    
}
.button1:hover {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.button2:hover {
    color: var(--yellow);
    border-color: var(--yellow);
}
#content{
    background-color: var(--lightgray);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content .content{
    background-color: white;
}
.portfolio-photo{
    width: 100%;
    height: auto;
}
.about-me{
    width:80%;
    display: flex;

}
.about-me .left{
    flex: 1;
    padding: 1em;
    margin: 2em 0em;
    margin-left: 3em;
}
.about-me .left h4{
    margin: 0.85em;
}
.about-me .right{
    flex: 1;
    border-left: thin solid var(--blueNoO);
    padding: 1em;
    margin: 2em 0em;
    margin-right: 10em;
}
#skills{
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 20em 20em;
}
#skills .content {
    width: 100%;
}
#skills .content h6{
    margin-bottom: 0;
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 1em;
    background-color: var(--lightgray);
    margin-top: 0;
    border-radius: 1em;
    outline: none;
    opacity: 0.7;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--blueNoO);
    cursor: pointer;
}

.slider::-webkit-slider-progress {
    height: 100%;
    background: var(--blueNoO);
}
.slider::-moz-range-progress {
    height: 100%;
    background: var(--blueNoO);
}
.slider::-moz-range-thumb {
    width: 1em;
    height: 1.1em;
    border-radius: 50%;
    background: var(--blueNoO);
    cursor: pointer;
}
#portfolio{
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0em 2em 4em 2em;
}
#portfolio .content{
    width: 90%;
}
.under-photo{
    padding-left: 1em;
}
.under-photo h4{
    margin-bottom: 0;
}
.under-photo h5 {
    margin-top: 0;
    margin-bottom: 0;
}
.under-photo h6 {
    margin-top: 1em;
    margin-bottom: 0;
    color: gray;
    line-height: 1;
}
#footer{
    background-color: white;
    display: flex;
}
#footer .left{
    margin: 1em 0 1em 2em;
    padding: 1em 2em;
    color: white;
    flex: 1;
    background-color: var(--blueNoO);
}
#footer .right{
    margin: 1em 2em 1em 0;
    padding: 1em 2em;
    flex: 4;
    background-color: var(--lightgray);
}
.form{
    display: flex;
    flex-direction: column;
    height: 80%;
}
input{
    background-color: var(--lightgray);
    width: 100%;
    border: none;
    border-bottom: thin solid var(--lightblue);
}
.copyright{
    background-color: white;
    color: gainsboro;
    text-align: center;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 937px){
    #header-left .img {
        display: none;
    }
    #portfolio {
        grid-template-columns: 1fr 1fr;
    }
    .menu {
        grid-template-columns: 1fr 1fr;
    }
    .about-me .right{
        margin-left: 2em;
        margin-right: 2em;
        font-size: 0.8em;
        border-left: none;
        border-top: thin solid var(--blueNoO);
    }
    .about-me {
        flex-direction: column;
        align-items: center;
    }
    #skills {
        grid-template-columns: 15em 15em;
    }
}
@media only screen and (max-width: 573px) {
    #portfolio {
        grid-template-columns: 1fr;
    }

    .menu {
        grid-template-columns: 1fr;
    }
    #skills {
        grid-row-gap: 1em;  
        grid-template-columns: 15em;
    }
    #header-left h1 {
        font-size: 2em;
    }
    #header-left h2 {
        font-size: 1em;
    }
    #header-left h3 {
        font-size: 0.9em;
    }
    #footer{
        flex-direction: column;
    }
    #footer .left {
        margin: 0;
    }
    #footer .right {
        margin: 0;

    }
}